<mat-toolbar color="primary" class="toolbar-header">
  <button mat-icon-button class="example-icon"
          (click)="onToggleSidenav()"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <span class="logo-header" id="logo-header">HospitalDB</span>
  <span class="example-spacer"></span>
  <div class="navigation-bar">
    <a class="navigation-bar__button"
            >Doctors</a>
    <a class="navigation-bar__button"
           >Patients</a>
    <a class="navigation-bar__button"
            >Appointments</a>
    <button class="navigation-bar__button"
            mat-raised-button color="warn"
    >Create an appointment</button>
  </div>
</mat-toolbar>
