<mat-toolbar color="primary" class="toolbar-header">
  <button mat-icon-button class="example-icon"
          (click)="onToggleSidenav()"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <span
    routerLink="/doctors"
    class="logo-header" id="logo-header"
  style="cursor: pointer">HospitalDB</span>
  <span class="example-spacer"></span>
  <div class="navigation-bar">
    <a class="navigation-bar__button"
       routerLink="/doctors"
    >Doctors</a>
    <a class="navigation-bar__button"
       routerLink="/patients"
           >Patients</a>
    <a class="navigation-bar__button"
       routerLink="/appointment"
    >Appointments</a>
  </div>
</mat-toolbar>
