<div class="table-header">
  <h1>{{'Patients List' | uppercase}}</h1>
  <button mat-raised-button color="accent" (click)="openDialog()">Add patient</button>
</div>
<table mat-table [dataSource]="gridData$" class="mat-elevation-z8">

  <!-- PatientId Column -->
  <ng-container matColumnDef="PatientId">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.PatientId}} </td>
  </ng-container>

  <!-- PatientName Column -->
  <ng-container matColumnDef="PatientName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.PatientName}} </td>
  </ng-container>

  <!-- PatientEmail Column -->
  <ng-container matColumnDef="PatientEmail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.PatientEmail}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" class="btn_actions" (click)="openDialogUpdate(element)">Edit</button>
      <button mat-raised-button color="primary" (click)="deletePatient(element.PatientId)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
